.hero-anime .card .card-head .card-img-top {

    color: #ffffff81;
    align-items: center;
    justify-content: center;
    display: flex;

}

.hero-anime .card .card-head .card-img-top h1 {
    transition: all 0.3s ease-in-out;
    font-size: 6em;
}

.hero-anime .card .card-head:hover .card-img-top h1 {
    font-size: 7em;
    transition: all 0.3s ease-in-out;
}

.hero-anime .card .card-head {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1rem;
    height: 30vh;
    background: linear-gradient(-45deg, #ee7752, #531F1F, #ee7752, #531F1F, #613c3c);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    /* height: 100vh;   531F1F*/
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.hero-anime .card .card-body {
    padding: 0.5rem 1rem;
}

.hero-anime .card .card-body .card-title {
    color: #531F1F;
    font-family: 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    display: block;
    position: relative;
    font-size: 3vh;
}

.hero-anime .card .card-body .card-text {
    color: #531F1F;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 0.9em;
    line-height: 24px;
    margin: 1rem;
    text-align: justify;
    text-justify: inter-word;
}


.hero-anime .five h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: #080808;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: #202020;
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 2px;
}

.hero-anime  .five h1 span {
    display: block;
    /* font-size: 0.5em; */
    line-height: 1;
    margin-top: 30px;
    text-transform: none;
    font-size: .65em;
    font-weight: normal;
    font-style: italic;
    font-family: "Playfair Display", "Bookman", serif;
    color: #503333;
    letter-spacing: -0.005em;
    word-spacing: 1px;
}

.hero-anime  .five h1:before {
    position: absolute;
    left: 0;
    bottom: 47px;
    width: 80px;
    height: 4px;
    content: "";
    left: 50%;
    margin-left: -30px;
    background-color: #000000;
}
.hero-anime .five h1 {
    position: relative;
    margin: 5rem auto;
  }
 
  .hero-anime .one  h1::after {
    top: -85%;
    left: 48%;
  }
  .hero-anime .two  h1::after {
    top: -85%;
    left: 46%;
  }

  .hero-anime .five h1::after {
    content: "";
    position: absolute;
    
    align-items: center;
    justify-content: center;
    
    width: 80px; /* Set the width of your image */
    height: 80px; /* Set the height of your image */
    background-image: url('https://freepngimg.com/thumb/santa_claus/13-2-santa-claus-png-hd-thumb.png'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
  }

/* .hero-anime .banner {
    margin-top: 20vh;
    height: 35vh;
    width: 100%;
    background-image: url('https://www.wordsjustforyou.com/wp-content/uploads/2021/11/Merry-Christmas-Gif-for-Email-Signature_wordsjustforyou_02281121.gif');
    background-repeat: no-repeat;
    background-size: 100%;
} */


/* Style the image within the container */
/* .hero-anime .image {
    z-index: -2;
    display: block;
    top: 30px;
    left: 0;
    position: fixed;
    display: flex;
} */

.hero-anime .contact {
    justify-content: center;
    align-items: center;
    display: block;
    /* padding: 3rem 4rem; */
    /* height: 90vh; */
    position: relative;
    margin-bottom: 25vw;
    /* background: url('https://i.pinimg.com/1200x/42/71/5c/42715c20bde912746f0d37449c700b1d.jpg');
background-repeat: no-repeat;
background-size: 100%; */
    /* background: url(''); */
    
}

.hero-anime .contact .contactform {
    
    background-color: #f0f0f0;
    /* background-image:
    linear-gradient(0deg,
        pink 0%,
        rgba(255, 255, 255, 0.849)0%), url('https://i.pinimg.com/1200x/42/71/5c/42715c20bde912746f0d37449c700b1d.jpg'); */

        background: url('https://i.pinimg.com/1200x/42/71/5c/42715c20bde912746f0d37449c700b1d.jpg');
    border-radius: 1rem;
    /* position: relative; */
    height: 500px;
    /* left: 15%; */
    /* background-color: #531f1f8a; */
    margin: 1rem auto;
    padding: 3rem;
    display: flex;
    width: 60vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}
.hero-anime .btn-msg{
    background-color: #531F1F;
    color: aliceblue;
    border-radius: 2rem;
    height: 9vh;
}
.hero-anime .btn-msg:hover{
    background-color: #531f1f56;
    color: rgb(0, 0, 0);
}
.wow{
    margin: -0.5rem 0;
}
.hero-anime .form-control{
    background-color: rgba(255, 255, 255, 0.541);
    border: #531F1F solid 2px;
}



.hero-anime .content-wrap {
    max-width: 100%;
    /* padding: 20px; */
    box-sizing: border-box;
    /* margin: 0 auto; */
    overflow: hidden;
    /* background: #f5f5f5; Change the background color as needed */
  }

