@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.hm-gradient {
    background-color: #eee;
}
.darken-grey-text {
    color: #2E2E2E;
}
.entry{
    width: 25em;
    /* align-items: center; */
    padding: 2vw 5vw ;
    border-radius: 2em;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.entry span{
    font-size: 0.8em;
}
/* body{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(141, 184, 73) 100%);
} */

.login100-social-item {
    font-size: 25px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
  }
.bg1{
    color: #ffffff;
    background-color: #3b5998;
    border-radius: 50%;
}
.bg2{
    color: #ffffff;
    background-color: #1da1f2;
    border-radius: 50%;
}
.bg3{
    color: #ffffff;
    background-color: #ea4335;
    border-radius: 50%;
}

.entry a{
    text-decoration: none;
    /* font-size: 1vw; */
}
.entry i{
    font-size: 2vw;
}
.txt2{
    font-size: 1em;
    color: #000000;
}
/* ============================================== */

.entry label {
    font-size: 1vw;
    font-weight: bold;
}
