@import url(https://fonts.googleapis.com/css?family=Poppins);

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins",sans-serif;
}
body{
    /* overflow: hidden; */
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}
.brand{
    font-size: 2.3rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nav-items{
    
    margin: 0 20px;
    font-size: 1.2rem;
    font-weight: bold;
    
 }
 header .nav{
    position: relative;
 }
 header .nav .nav-items a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: relative;
    /* transition: 0.3s ease; */
 }

.home video {
    z-index: -22;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* margin-top: 100px; */
  overflow-y: scroll; 
  /* height: calc(100vh - 100px); */
  /* background-color: white; */
  /* background: rgba(6, 23, 48, 0.63);  */
  height: 100vh;
  
}
.home:before{
    z-index: -11;
    content: '';
    position: absolute;
    background: rgba(6, 23, 48, 0.63);
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.home{
    align-items: center;
    margin: 100px;
    color: white;
    
}
/* .box{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}
@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}
.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    /* -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004); */
/* }
.box span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */ 



/* Please ❤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary
================================================== */

body{
    font-family: 'Poppins', sans-serif;
	
	/* background: url('https://i.gifer.com/origin/43/43f778b8b7c6989f75f9075e4ea4a063_w200.gif'); */
    /* background-image: url('https://www.shutterstock.com/shutterstock/videos/1093895551/thumb/10.jpg?ip=x480'); */
    /* background: url('{% static "image/bg-top.png" %}'); */
    /* background: url('{{ STATIC_URL }}image/1.jfif'); */
	background-position: top;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    
    /* background-repeat: no-repeat; */
	/* background-size: 7%; */
	
    /* position: sticky; */
    display: flex;
    height: 100%;

}

/*   
  body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.315);
    clip-path: inset(100px 40px 40px 40px);    
    z-index: -999;
  } */
  
 
::selection {
	color: #fff;
	background-color: #8167a9;
}
::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}


/* #Navigation
================================================== */

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 10px 0;
	/* box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15); */
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	/* box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15); */
    background-color: #531F1F;
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 20px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
     /* background-color: #2121123a; */
}
.navbar{
   
	padding: 0;
}
.navbar-brand img{
	height: 28px;
	width: auto;
	display: block;
  filter: brightness(10%);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

.nav-link{
	color: #ffffff !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #8167a9 !important;
}
.nav-item.active .nav-link{
	color: #afabab !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

/* #Primary style
================================================== */

