<!DOCTYPE html>
<html lang="en">
<head>
    <title>admin</title>
    {% load static %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>
    <div class="container">

    </div>
    <center>
        <h1>Admin Dashboard</h1>
        <h3>Select Theme</h3>
    </center>
    <div class="card-deck m-5">
        <div class="p-5 card bg-primary text-light"><h1>Theme1</h1></div>
        <div class="p-5 card bg-danger text-light"><h1>Theme2</h1></div>
        <div class="p-5 card bg-success text-light"><h1>Theme3</h1></div>
    </div>

</body>
</html>