<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/onam.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/chris.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet" type="text/css">

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->

    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

</head>
<style>
    /* Style the container to position the image and text */
    .image-container {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        font-size: 1em;
    }

    .image-container:hover {
        color: #ffffff;
    }

    /* Style the image within the container */
    /* .hero-anime .image {
        z-index: -2;
        display: block;
        top: 30px;
        left: 0;
        position: fixed;
        display: flex;
    } */

    /* .onam .image {
        z-index: -2;
        display: block;
        top: 0px;
        left: 0;
        position: fixed;
        display: flex;
    } */


    .custom-shape-divider-top-1697730332 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        background-attachment: fixed;
        z-index: -1;
    }

    .custom-shape-divider-top-1697730332 svg {
        position: relative;
        display: block;
        width: calc(171% + 1.3px);
        height: 700px;
    }

    .custom-shape-divider-top-1697730332 .shape-fill {
        fill: #531F1F;
    }

    .hero-anime .top {
        width: 90%;
        /* height: 100%; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 50px;
        color: #ffffff;
        /* height: 80vh; */
        padding: 50px 50px;
        /* background-color: rgba(0, 0, 0, 0.425); */
    }

    .onam .top {
        width: 100%;
        /* height: 100%; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5em auto;
        color: #ffffff;
        /* height: 80vh; */
        /* padding: 50px 50px; */
        /* background-color: rgba(0, 0, 0, 0.425); */
    }


    .content {
        margin-top: -10rem;
        padding-bottom: 200px;
    }

    .content p {
        width: 250px;
        -webkit-text-stroke: 0.3px #531F1F;

    }

    .content h1{
        font-size: 5rem;
        font-weight: 600;
    }

    .hero-anime .carousel-inner {
        width: 30vw;
        border-radius: 1.5rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .onam .carousel-inner {
        border-radius: 1.2rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .onam .carousel-inner .carousel-item {
        /* height: 70vh; */
        width: 90vw;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.384);
    }


    /* .onam .carousel-inner .carousel-item .carousel-txt h1 {
    
    font-family: sans-serif;
    text-align: center;
    text-shadow: 0 0 1px rgba(0,0,0,.1);
    margin: 0;
    padding: 0;
} */




    /* .card-img {
        height: 20vh;
    } */



    .second {
        background-color: #e6e6e6ec;
        margin: 0 0;
    }


    /* .cards .card{
        position: relative;
        max-width: 400px;
    } */




    .waves {
        /* margin: 0px 0px;
        left: 0;
        height: 500px; */
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        background-attachment: fixed;
        z-index: -1;
        height: 1150px;
    }

    .waves svg {
        position: relative;
        display: block;
        width: calc(171% + 1.3px);

    }


    .onam {
        margin: 0;
        padding: 0;
        background-image:
            linear-gradient(0deg,
                rgba(255, 186, 33, 0.5) 10%,
                rgba(0, 0, 0, 0.849)20%), url('https://media.istockphoto.com/id/1251629816/photo/the-perfect-setting-to-complete-work.webp?b=1&s=170667a&w=0&k=20&c=e8mSv3z6PhT18EUmzgtdMCbQecYzhHoqu_ts8tFdN6c=');

        /* background: url("") no-repeat left top, linear-gradient(#ebc001e8, #000000); */
    }

    .sec2 {
        padding: 40px 100px;
        background-color: rgb(0, 0, 0);
        margin: 0;
        width: 103.5%;
        /* position: relative; */
    }


    .celebration {
        position: fixed;
        top: 0px;
        right: -30px;
        margin: 20px;
        /* Adjust the margin as needed to control the distance from the top-right corner */
        z-index: 9999;
        /* Adjust the z-index if needed to control the stacking order */
    }
</style>
{% if theme.name == 'christmas' %}

<body class="hero-anime">


    <div class="navigation-wrap start-header start-style">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md">

                        <a class="brand" href="">
                            <div class="image-container">
                                ALTOS TECHNOLOGIES

                            </div>
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon text-light"><i class="fa fa-bars"
                                    aria-hidden="true"></i></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                                    <a class="nav-link" href="#">Home</a>

                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#">Explore</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#">About</a>
                                </li>

                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#">Contact</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out"
                                            aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="celebration"><img class="image img-fluid" src="{% static 'image/santa.gif' %}" alt="" width="250px">
    </div>
    <div class="custom-shape-divider-top-1697730332">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                opacity=".79" class="shape-fill"></path>
            <path
                d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                opacity=".5" class="shape-fill"></path>
            <path
                d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                class="shape-fill"></path>
        </svg>
    </div>

    <div class="content-wrap my-5">
        <section class="top">
            <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="content "></div>
                <h1>We Deal With<br> The Aspects Of</h1>
                <h2>Professional IT Solutions</h2>
                <p>Elevate your business with Altos Technologies. As a software development company in India, we craft
                    custom websites and software solutions to fit your unique business needs.</p>
            </div>
            <div class=" col-lg-6 col-md-12 col-sm-12">
            <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">

                        <img class="d-block w-100 img-fluid" src="{% static 'image/team-1.jpg' %}" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="{% static 'image/team-2.jpg' %}" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="{% static 'image/team-3.jpg' %}" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
        </section>
        <div class="banner"></div>
        <section class="second" style="padding: 70px 10px;">
            <div class="five mb-5">
                <h1>Why Choose Us
                    <span>Discover why ALTOS Technologies is the premier choice for IT solutions</span>
                </h1>
            </div>

            <!-- Card -->
            <div class="card-deck mx-2">
                <div class="card">
                    <div class="card-head">
                        <div class="card-img-top">
                            <h1><i class="bx bx-receipt"></i></h1>
                        </div>

                    </div>

                    <div class="card-body">
                        <h4 class="card-title text-center"><a>Experienced Professional</a></h4>
                        <p class="card-text">Our Team of Experienced Professionals is Committed to Delivering Dependable
                            Services to Meet
                            the Needs of Our Clients.</p>
                    </div>

                </div>
                <div class="card">

                    <div class="card-head">
                        <div class="card-img-top">
                            <h1><i class="fas fa-layer-group    "></i></h1>
                        </div>

                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center"><a>Unique Design</a></h4>
                        <p class="card-text"> Discover a World of Unparalleled Creativity - Our Unique Designs are the
                            Epitome of
                            Innovation and Originality.</p>
                    </div>

                </div>
                <div class="card">
                    <div class="card-head">
                        <div class="card-img-top">
                            <h1><i class="bx bx-cube-alt" aria-hidden="true"></i></h1>
                        </div>

                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center"><a>Industrial Standards</a></h4>
                        <p class="card-text">Our websites are engineered to adhere to international standards, placing
                            them at the
                            forefront of the global market.</p>


                    </div>

                </div>
                <div class="card">
                    <div class="card-head">
                        <div class="card-img-top">
                            <h1><i class="bx bx-user" aria-hidden="true"></i></h1>
                        </div>

                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center"><a>Customized Service</a></h4>
                        <p class="card-text">Tailored Solutions Just for You - Our Customized Services Offer
                            Personalized Expertise to
                            Meet Your Unique Needs.</p>
                    </div>

                </div>
            </div>


        </section>
        <section class="contact">
            <div class="five my-5">
                <h1>Contact Us <span>Connect with us</span></h1>
            </div>
            <!-- <svg id="visual" viewBox="0 0 900 450" width="900" height="450" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                <g transform="translate(514.053280992917 205.93054105884664)">
                    <path
                        d="M116.6 -160.7C152.9 -134.2 185.4 -102.5 197.8 -64.3C210.2 -26.1 202.6 18.6 198.8 75.2C195 131.8 195.1 200.2 162.6 226.3C130.1 252.4 65 236.2 5 229.3C-55.1 222.4 -110.1 224.9 -160.7 204.7C-211.2 184.4 -257.3 141.5 -292.2 83.3C-327.1 25.2 -350.8 -48.3 -314.7 -84.6C-278.6 -120.9 -182.7 -120.2 -120.3 -138.3C-57.9 -156.3 -28.9 -193.2 5.6 -200.9C40.2 -208.6 80.3 -187.2 116.6 -160.7"
                        fill="#531F1F">

                    </path>
                </g>
            </svg>  style="background-image: url( static/image/contact.png ); background-repeat: no-repeat;">-->

            <div class="contactform row">

                <div class="col-12">
                    <div class="wow fadeInUp" data-wow-delay="0.3s">
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                        <label for="subject">Subject</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a message here" id="message"
                                            style="height: 150px"></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-msg w-100 py-3" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </section>


        <div class="container-fluid  text-light footer mt-5 pt-5 wow fadeIn">
            <div class="container-footer py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-3 foot1">
                        <h4 class="text-white mb-4">Get In Touch</h4>
                        <p><i class="fas fa-map-marker-alt"></i> 123 Street, New York, USA</p>
                        <p><i class="fas fa-phone-alt    "></i>+012 345 67890</p>
                        <p><i class="fa fa-envelope"></i>info@example.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fa fa-facebook"
                                    aria-hidden="true"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 foot2">
                        <h5 class="text-white mb-4">Popular Link</h5>
                        <a class="btn btn-link" href="">About Us</a>
                        <a class="btn btn-link" href="">Contact Us</a>
                        <a class="btn btn-link" href="">Privacy Policy</a>
                        <a class="btn btn-link" href="">Terms & Condition</a>
                        <a class="btn btn-link" href="">Career</a>
                    </div>
                    <div class="col-md-6 col-lg-3 foot3">
                        <h5 class="text-white mb-4">Project Gallery</h5>
                        <div class="row g-2">
                            <div class="col-4">
                                <img class="img-fluid" src="{% static 'image/portfolio-1.jpg' %}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{% static 'image/portfolio-2.jpg' %}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{% static 'image/portfolio-3.jpg' %}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{% static 'image/portfolio-4.jpg' %}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{% static 'image/portfolio-5.jpg' %}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{% static 'image/portfolio-6.jpg' %}" alt="Image">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 foot4">
                        <h5 class="text-white mb-4">Newsletter</h5>
                        <p>Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit
                            non vulpu</p>
                        <div class="position-relative w-100 mt-3">
                            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text"
                                placeholder="Your Email" style="height: 48px;">
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                                    class="fa fa-paper-plane text-primary fs-4"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" px-lg-5">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 col-lg-7 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.

                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                        </div>
                        <div class="col-md-6 col-lg-5 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Home</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#531F1F" fill-opacity="1"
                    d="M0,128L17.1,138.7C34.3,149,69,171,103,149.3C137.1,128,171,64,206,32C240,0,274,0,309,10.7C342.9,21,377,43,411,74.7C445.7,107,480,149,514,165.3C548.6,181,583,171,617,170.7C651.4,171,686,181,720,176C754.3,171,789,149,823,122.7C857.1,96,891,64,926,69.3C960,75,994,117,1029,112C1062.9,107,1097,53,1131,58.7C1165.7,64,1200,128,1234,176C1268.6,224,1303,256,1337,266.7C1371.4,277,1406,267,1423,261.3L1440,256L1440,320L1422.9,320C1405.7,320,1371,320,1337,320C1302.9,320,1269,320,1234,320C1200,320,1166,320,1131,320C1097.1,320,1063,320,1029,320C994.3,320,960,320,926,320C891.4,320,857,320,823,320C788.6,320,754,320,720,320C685.7,320,651,320,617,320C582.9,320,549,320,514,320C480,320,446,320,411,320C377.1,320,343,320,309,320C274.3,320,240,320,206,320C171.4,320,137,320,103,320C68.6,320,34,320,17,320L0,320Z">
                </path>
            </svg>
        </div>

    </div>


    <!-- Link to page
================================================== -->


    <script>

        (function ($) {
            "use strict";

            $(function () {
                var header = $(".start-style");
                $(window).scroll(function () {
                    var scroll = $(window).scrollTop();

                    if (scroll >= 10) {
                        header.removeClass('start-style').addClass("scroll-on");
                    } else {
                        header.removeClass("scroll-on").addClass('start-style');
                    }
                });
            });


            //Animation
            var theme = '{{theme.name}}'
            var imageElement = $('.image');
            // $(document).ready(function () {
            //     if(theme == 'onam'){

            //     imageElement.attr('src', '{% static "image/on.png" %}');
            //     var imagePath = "https://www.shutterstock.com/shutterstock/videos/1093895551/thumb/10.jpg?ip=x480";  // Replace with the actual path                    

            //     }
            //     else if(theme == 'christmas'){
            //         imageElement.attr('src', '{% static "image/chr.png" %}');
            //         var imagePath = "https://i.gifer.com/origin/43/43f778b8b7c6989f75f9075e4ea4a063_w200.gif"
            //     }
            //     else if(theme == 'eid'){
            //         imageElement.attr('src', '{% static "image/eid.png" %}');
            //         var imagePath = "https://img.freepik.com/free-vector/beautiful-holy-month-eid-mubarak-background_157027-1241.jpg?t=st=1697538518~exp=1697539118~hmac=457becd07bc20e7bb50fa8632de83ea6866dc329cd0a057aaa6ed356f9497c12"
            //     }
            //     else if(theme == 'notheme'){
            //         $(".nav-link").css("color", "black");
            //         $("body").css("background-color", "white");

            //     }

            //     $("body").css("background-image", "url(" + imagePath + ")");

            // });

            //Menu On Hover

            $('body').on('mouseenter mouseleave', '.nav-item', function (e) {
                if ($(window).width() > 750) {
                    var _d = $(e.target).closest('.nav-item'); _d.addClass('show');
                    setTimeout(function () {
                        _d[_d.is(':hover') ? 'addClass' : 'removeClass']('show');
                    }, 1);
                }
            });

            //Switch light/dark

            $("#switch").on('click', function () {
                if ($("body").hasClass("dark")) {
                    $("body").removeClass("dark");
                    $("#switch").removeClass("switched");
                }
                else {
                    $("body").addClass("dark");
                    $("#switch").addClass("switched");
                }
            });

        })(jQuery); 
    </script>
</body>
{% elif theme.name == 'onam' %}

<body class="onam">

    <div class="navigation-wrap start-header start">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md">

                        <a class="brand" href="">
                            <div class="image-container">
                                ALTOS TECHNOLOGIES

                            </div>
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon text-light"><i class="fa fa-bars"
                                    aria-hidden="true"></i></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#">Home</a>

                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#banner">Explore</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#footer">About</a>
                                </li>

                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#contact">Contact</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out"
                                            aria-hidden="true"></i></a>
                                </li>

                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            var header = $(".start");
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();

                if (scroll >= 10) {
                    header.removeClass('start').addClass("scroll");
                } else {
                    header.removeClass("scroll").addClass('start');
                }
            });
        });
        //      
    </script>
    <div class="celebration"><img class="image img-fluid" src="{% static 'image/maveli.gif' %}" alt="" width="150px">
    </div>

    <div class="content-wrap my-5">
        <section class="top">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">

                        <img class="d-block w-100 img-fluid"
                            src="https://t4.ftcdn.net/jpg/04/45/82/89/360_F_445828907_um4GERC0aNdtAp3JMgAJ136VmV2Q7p6Q.jpg"
                            alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid"
                            src="https://media.istockphoto.com/id/1206800961/photo/online-shopping-and-payment-man-using-tablet-with-shopping-cart-icon-digital-marketing.webp?b=1&s=170667a&w=0&k=20&c=RT5aV_p3DgMk16-QH26DmzNj_uHaq7hkKR0UapnHL2I="
                            alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid"
                            src="https://www.lincad.co.uk/wp-content/uploads/2022/08/contact-us-scaled-1.jpg"
                            alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>
        <div class="banner" id="banner"></div>
        <section class="sec2">
            <div class="row">
                <div class="col text-center mb-5 text-light m-0">
                    <div class="twelve">
                        <h1 style="width: 35vw;">Why Choose Us</h1>
                        <p>Discover why ALTOS Technologies is the premier choice for IT solutions </p>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                    <div class="card text-dark card-has-bg click-col"
                        style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
                        <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street"
                            alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
                        <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">Experienced Professionals</small>
                                <h5 class="card-title mt-0 "><a class="text-dark" herf="https://creativemanner.com">Our
                                        Team of Experienced Professionals is Committed to Delivering Dependable Services
                                        to Meet the Needs of Our Clients.</a></h5>

                            </div>
                            <div class="card-footer">
                                <div class="media">
                                    <img class="mr-3 rounded-circle"
                                        src="https://assets.codepen.io/460692/internal/avatars/users/default.png?format=auto&version=1688931977&width=80&height=80"
                                        alt="Generic placeholder image" style="max-width:50px">
                                    <div class="media-body">
                                        <h6 class="my-0 text-dark d-block">Oz Coruhlu</h6>
                                        <small>Director of UI/UX</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                    <div class="card text-dark card-has-bg click-col"
                        style="background-image:url('https://source.unsplash.com/600x900/?tree,nature');">
                        <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tree,nature"
                            alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
                        <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">Unique Designs</small>
                                <h5 class="card-title mt-0 "><a class="text-dark"
                                        herf="https://creativemanner.com">Discover a World of Unparalleled Creativity -
                                        Our Unique Designs are the Epitome of Innovation and Originality.</a></h5>
                            </div>
                            <div class="card-footer">
                                <div class="media">
                                    <img class="mr-3 rounded-circle"
                                        src="https://assets.codepen.io/460692/internal/avatars/users/default.png?format=auto&version=1688931977&width=80&height=80"
                                        alt="Generic placeholder image" style="max-width:50px">
                                    <div class="media-body">
                                        <h6 class="my-0 text-dark d-block">Oz Coruhlu</h6>
                                        <small>Director of UI/UX</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                    <div class="card text-dark card-has-bg click-col"
                        style="background-image:url('https://source.unsplash.com/600x900/?computer,design');">
                        <img class="card-img d-none" src="https://source.unsplash.com/600x900/?computer,design"
                            alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
                        <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">Industrial standards</small>
                                <h5 class="card-title mt-0 "><a class="text-dark" herf="https://creativemanner.com">Our
                                        websites are engineered to adhere to international standards, placing them at
                                        the forefront of the global market.</a></h5>
                            </div>
                            <div class="card-footer">
                                <div class="media">
                                    <img class="mr-3 rounded-circle"
                                        src="https://assets.codepen.io/460692/internal/avatars/users/default.png?format=auto&version=1688931977&width=80&height=80"
                                        alt="Generic placeholder image" style="max-width:50px">
                                    <div class="media-body">
                                        <h6 class="my-0 text-dark d-block">Oz Coruhlu</h6>
                                        <small>Director of UI/UX</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                    <div class="card text-dark card-has-bg click-col"
                        style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
                        <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street"
                            alt=" Lorem Ipsum Sit Amet Consectetur dipisi?">
                        <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">Customized Services</small>
                                <h5 class="card-title mt-0 "><a class="text-dark"
                                        herf="https://creativemanner.com">Tailored Solutions Just for You - Our
                                        Customized Services Offer Personalized Expertise to Meet Your Unique Needs.</a>
                                </h5>

                            </div>
                            <div class="card-footer">
                                <div class="media">
                                    <img class="mr-3 rounded-circle"
                                        src="https://assets.codepen.io/460692/internal/avatars/users/default.png?format=auto&version=1688931977&width=80&height=80"
                                        alt="Generic placeholder image" style="max-width:50px">
                                    <div class="media-body">
                                        <h6 class="my-0 text-dark d-block">Oz Coruhlu</h6>
                                        <small>Director of UI/UX</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </section>
        <section id="contact">

            <div class="twelve">
                <h1 style="width: 28vw;">Contact us</h1>
            </div>

            <div class="contact-wrapper row">

                <!-- Left contact page -->
            <div class="col-sm-12 col-md-12 col-lg-6">
                <form id="contact-form" class="form-horizontal" role="form">

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value=""
                                required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email"
                                value="" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message"
                                required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn send-button" id="submit" type="submit" value="SEND">
                                <div class="alt-send-button">
                                    <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                                </div>

                            </button>
                        </div>
                    </div>



                </form>
            </div>

                <!-- Left contact page -->
<div class="col-sm-12 col-md-12 col-lg-6">
                <div class="direct-contact-container">

                    <ul class="contact-list">
                        <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">City,
                                    State</span></i></li>

                        <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a
                                        href="tel:1-212-555-5555" title="Give me a call">(212) 555-2368</a></span></i>
                        </li>

                        <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a
                                        href="mailto:#" title="Send me an email">hitmeup@gmail.com</a></span></i></li>

                    </ul>

                    <hr>
                    <ul class="social-media-list">
                        <li><a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-codepen" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                    <hr>

                    <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>

                </div>
            </div>
            </div>

        </section>
        <script>
            document.querySelector('#contact-form').addEventListener('submit', (e) => {
                e.preventDefault();
                e.target.elements.name.value = '';
                e.target.elements.email.value = '';
                e.target.elements.message.value = '';
            });

        </script>

        <!-- <section class="contact">
        <div class="twelve">
            <h1  style="width: 28vw;">Contact us</h1>
          </div>
          <div class="wrapper" >
			<div class="inner">
				<form action="">
					<h3>Registration Form</h3>
					<div class="form-group">
						<div class="form-wrapper">
							<label for="">First Name</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-wrapper">
							<label for="">Last Name</label>
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-wrapper">
						<label for="">Email</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-wrapper">
						<label for="">Password</label>
						<input type="password" class="form-control">
					</div>
					<div class="form-wrapper">
						<label for="">Confirm Password</label>
						<input type="password" class="form-control">
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> I caccept the Terms of Use & Privacy Policy.
							<span class="checkmark"></span>
						</label>
					</div>
					<button>Register Now</button>
				</form>
			</div>
		</div>
       </section> -->
        <div class="container-fluid  text-light footer mt-5 pt-5 wow fadeIn" id="footer">
            <div class="container-footer py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-3 foot1">
                        <h4 class="text-white mb-4">Get In Touch</h4>
                        <p><i class="fas fa-map-marker-alt"></i> 123 Street, New York, USA</p>
                        <p><i class="fas fa-phone-alt    "></i>+012 345 67890</p>
                        <p><i class="fa fa-envelope"></i>info@example.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fa fa-facebook"
                                    aria-hidden="true"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 foot2">
                        <h5 class="text-white mb-4">Popular Link</h5>
                        <a class="btn btn-link" href="">About Us</a>
                        <a class="btn btn-link" href="">Contact Us</a>
                        <a class="btn btn-link" href="">Privacy Policy</a>
                        <a class="btn btn-link" href="">Terms & Condition</a>
                        <a class="btn btn-link" href="">Career</a>
                    </div>
                    <div class="col-md-6 col-lg-3 foot3">
                        <h5 class="text-white mb-4">Project Gallery</h5>
                        <div class="row g-2">
                            <div class="col-4">
                                <img class="img-fluid" src="{% static 'image/portfolio-1.jpg' %}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{% static 'image/portfolio-2.jpg' %}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{% static 'image/portfolio-3.jpg' %}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{% static 'image/portfolio-4.jpg' %}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{% static 'image/portfolio-5.jpg' %}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{% static 'image/portfolio-6.jpg' %}" alt="Image">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 foot4">
                        <h5 class="text-white mb-4">Newsletter</h5>
                        <p>Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit
                            non vulpu</p>
                        <div class="position-relative w-100 mt-3">
                            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text"
                                placeholder="Your Email" style="height: 48px;">
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                                    class="fa fa-paper-plane text-primary fs-4"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" px-lg-5">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 col-lg-7 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.

                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                        </div>
                        <div class="col-md-6 col-lg-5 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Home</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>
{% endif %}

</html>

<!-- 
//  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
//     <div class="carousel-inner">
//         <div class="carousel-item active">

//             <img class="d-block w-100" src="{% static 'image/team-1.jpg' %}" alt="First slide">
//         </div>
//         <div class="carousel-item">
//             <img class="d-block w-100" src="{% static 'image/team-2.jpg' %}" alt="Second slide">
//         </div>
//         <div class="carousel-item">
//             <img class="d-block w-100" src="{% static 'image/team-3.jpg' %}" alt="Third slide">
//         </div>
//     </div>
//     <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
//         data-slide="prev">
//         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
//         <span class="sr-only">Previous</span>
//     </a>
//     <a class="carousel-control-next" href="#carouselExampleControls" role="button"
//         data-slide="next">
//         <span class="carousel-control-next-icon" aria-hidden="true"></span>
//         <span class="sr-only">Next</span>
//     </a>
// </div>  -->